
* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #b2b39f;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 95%;
  height: auto;
  margin: 20px auto;
  background: #dedfc5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.aboutNikola{
  display: flex;
  gap: 20px;
}

.imgNikola{
  border: none;
  display: flex;
  background: linear-gradient(rgba(168, 168, 168, 0.7), rgba(168, 168, 168, 0.7)), url(/assets/img/Nikola\ Tesla\ -\ Laboratório\ -\ Raios\ \ -\ History\ Channel\ Brasil.jpg);
  background-size: cover;
  width: 50%;
  justify-content: center;
}

.imgNikola img{
  border-radius: 50% ;
  padding: 10px;
}

.legImg{
  display: block;
  justify-content: center;
}

.legImg p{
  text-align: center;
  color: #3d423c;
  font-size: 0.9rem;
}

.textAbout h1{
  color: #3d423c;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif; 
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

